<ruby>
=begin
  Name:  battery/snmp_login.rc
    This script is intended to be used with the Metasploit Framework as a part of the battery suite of resource scripts
    For more information see:
      Battery Resource Scripts: https://github.com/kn0/battery
      Metasploit Framework:  https://github.com/rapid7/metasploit-framework

  Author: kn0
    twitter: @TrentonIvey
    email: "Trenton.Ivey@example.com".gsub(/example/,'gmail')
    web: kn0.ninja

  Description:
    This Metasploit RC-File is used to authenticate to SNMP services using Metasploit's default SNMP password list
    It does so by using auxiliary/scanner/snmp/snmp_login against all discovered SNMP services
    Targets are chosen by matching service with open ports 161/tcp and 161/udp
=end

# Print Header
print_status "auxiliary/scanner/snmp/snmp_login"
  
# Get a list of target services
targets = []
begin
  framework.db.services.each do |service|
    if ( service.port.eql? 161 and service.state.eql? 'open')
      targets << service.host.address
    end
  end
  # Remove any duplicate entries
  targets.uniq!
rescue ActiveRecord::ConnectionNotEstablished
  puts "DB not connected..."
  return
end

if targets.empty?
  print_warning "No targets found"
else
  # Setup the module
  self.run_single("use auxiliary/scanner/snmp/snmp_login")
  self.run_single("set ShowProgress false")
  self.run_single("set VERBOSE true") 
  self.run_single("set RHOSTS '#{targets.join(' ')}'")
  self.run_single("run")
end
</ruby>
